<mat-vertical-stepper [linear]="false" #stepper animationDuration="500" [formGroup]="currSelectedUser.form">
  
    <!-- Choose Customer -->
    <mat-step>
        <ng-template matStepLabel>Choose Customer</ng-template>
        <app-customer></app-customer>
        <div>
          <button mat-button matStepperNext>Next</button>
        </div>
    </mat-step>
  
    <!-- Choose Plan -->
    <mat-step>
        <ng-template matStepLabel>Choose Plan</ng-template>
        <app-plan></app-plan>
        <div>
          <button mat-button matStepperPrevious>Back</button>
          <button mat-button matStepperNext>Next</button>
        </div>
    </mat-step>
  
    <!-- Choose Addons -->
    <mat-step formGroupName="addon">
        <ng-template matStepLabel>Choose Addons</ng-template>
        <app-addons></app-addons>
        <div>
          <button mat-button matStepperPrevious>Back</button>
          <button mat-button matStepperNext>Next</button>
        </div>
    </mat-step>
  
    <mat-step>
      <ng-template matStepLabel>Done</ng-template>
      You are now done.
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button (click)="handlePayNow()">Pay Now</button>
      </div>
    </mat-step>
  </mat-vertical-stepper>
  